
<ol [@alertAnimation]="visibleAlerts.length" class="alertContainer">
    <li *ngFor="let alert of visibleAlerts"
        [ngClass]="{'success':   alert.level === AlertLevel.SUCCESS,
                    'info':      alert.level === AlertLevel.INFO,
                    'warn':      alert.level === AlertLevel.WARN,
                    'error':     alert.level === AlertLevel.ERROR }">
        <a *ngIf="alert.isCloseable" class="close" (click)="alert.dispose()" >
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </a>
        <p *ngIf="alert.code" class="content">
            {{alert.code}}
        </p>
        <p class="content">
            {{alert.message}}
        </p>
        <p *ngIf="alert.details" class="content">
            <a (click)="doShowDetails(alert.details)">
                details...
            </a>
        </p>
    </li>
</ol>