
<div class="navbar">
    <a href="#">
        <img class="logo" src="assets/images/logo.png" alt="home" height="50px" >
    </a>

    <nav class="main-menu">

        <a class="menu-button" routerLinkActive="activeLink" *ifAuthenticated="true" [routerLink]="['logout']">Logout</a>
        <a class="menu-button" routerLinkActive="activeLink" *ifAuthenticated="false" [routerLink]="['login']">Login</a>
        <a class="menu-button" routerLinkActive="activeLink" *ifAuthenticated="false" [routerLink]="['register']">Register</a>
        <a class="menu-button" routerLinkActive="activeLink" *ifAuthenticated="true" [routerLink]="['label']">Label</a>
        <a class="menu-button" routerLinkActive="activeLink" *ifAuthenticated="true" [routerLink]="['settings']">Settings</a>
        <a class="menu-button" routerLinkActive="activeLink" *ifAuthenticated="true" [routerLink]="['admin', 'users']">Admin</a>

    </nav>

</div>
