$font-stack: Helvetica, sans-serif;
$primary-color: #300000;
$secondary-color: #003000;
$accent-color: #c14400;

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=300111klsl+oD7Tn5eXjLsPhXFLklsl+oD7Tn5eXjLsPhXFLklsl+oD7Tn5eXjLsPhXFL */
